body{
	background: #444;
}
#container{
	width: 960px;
	height: 720px;
	margin: 20px auto;
}
#gameCanvas{
	width: 960px;
	height: 720px;
	position: absolute;
	top: 0px;
	margin: 0 auto;
	z-index: 1;
}
#gameHeader{
	height: 65px;
	width: 960px;
	background: #252525;
	position: absolute;
	top: 0;
	z-index: 2;
}
#gameHeader span{
	color: #c3d4d1;
	font-size: 1.4em;
	font-family: 'Aldrich', sans-serif;
}
.score{
	position: absolute;
	top: 10px;
	left: 96px;
	z-index: 9999;
}
.misses{
	position: absolute;
	top: 10px;
	left: 432px;
	z-index: 9999;
}
.countdown{
	position: absolute;
	top: 10px;
	right: 96px;
	z-index: 9999;
}
#topThird{
	height: 166px;
	width: 960px;
	/*background: #34495e;*/
	position: absolute;
	top: 65px;
	z-index: 2;
}
#middleThird{
	height: 166px;
	width: 960px;
	/*background: #1abc9c;*/
	position: absolute;
	top: 231px;
	z-index: 2;
}
#bottomThird{
	height: 166px;
	width: 960px;
	/*background: #f39c12;*/
	position: absolute;
	top: 397px;
	z-index: 2;
}
#gameScreen{
	position: relative;
}
#playerArea{
	height: 157px;
	width: 960px;
	background: #c3d4d1;
	position: absolute;
	top: 563px;
	z-index: 2;
}
#catcher{
	height: 40px;
	width: 100px;
	position: absolute;
	z-index: 3;
	left: 25%;
	bottom: -690px;
	background: #1abc9c;
}
/*#left{
	height: 100%;
	width: 20px;
	position: absolute;
	left: 0;
	background: #1abc9c;
}
#bottom{
	height: 40px;
	width: 100px;
	position: absolute;
	bottom: 0;
	background: #1abc9c;
}
#right{
	height: 100%;
	width: 20px;
	position: absolute;
	right: 0;
	background: #1abc9c;
}*/
#navbar{
	top: 800px;
	left: 40%;
	position: absolute;
	z-index: 99999;
}
.navbtn{
	position: relative;
	opacity: 0.8;
	top: 10px;
	margin-left: 10px;
	cursor: pointer;
}

/*////////////// Home Screen ///////////// */
.topBlue{
	width: 960px;
	height: 239px;
	background: #34495e;
	position: absolute;
	top: 0px;
	text-align: center;
	z-index: 2;
}
.midGreen{
	width: 960px;
	height: 36px;
	background: #1abc9c;
	position: absolute;
	top: 239px;
	z-index: 2;
}
.botOrange{
	width: 960px;
	height: 445px;
	background: #f39c12;
	position: absolute;
	top: 275px;
	text-align: center;
	z-index: 2;
}
#title{
	font-family: 'Audiowide', cursive;
	font-size: 100px;
	text-transform: uppercase;
	position: relative;
	margin: 140px auto;
}
#startBtn{
	margin-top: 55px;
	z-index: 99;
}
.playBtn{
	cursor: pointer;
}
#color{
	color: #1abc9c; 
}
#catch{
	color: #f39c12;
}
#instructions{
	padding-top: 30px;
	text-transform: uppercase;
}
#instructions h1{
	color: #34495e;
	font-family: 'Aldrich', sans-serif;
	font-size: 36px;
	margin-bottom: -14px;
}
#instructions p{
	color: #34495e;
	font-family: 'Aldrich', sans-serif;
	font-size: 16px;
}
/* ///////////////// Win Screen //////////////// */
#gameWinScreen{
	text-transform: uppercase;
	text-align: center;
}
#greenLine{
	width: 960px;
	height: 23px;
	background: #27ae60;
	position: absolute;
	bottom: 55px; 
	z-index: 6;
}
#gameWinScreen h1{
	font-family: 'Audiowide', cursive;
	font-size: 90px;
	color: #27ae60;
	position: relative;
}
#winStats{
	color: #34495e;
	font-family: 'Aldrich', sans-serif;
	font-size: 60px;
}
#winStats p{
	position: absolute;
	left: 381px;
}
#winStats .score{
	top: 14px;
}
#winStats .misses{
	top: 112px;
}
#checks{
	position: absolute;
	left: 282px;
	top: 35px;
}
#checks img{
	padding-top: 15px;
}
#playAgainbtn{
	position: absolute;
	bottom: 79px;
	left: 134px;
}
/* //////////////// Lose Screen /////////////////// */
#gameLoseScreen{
	text-transform: uppercase;
	text-align: center;
}
#redLine{
	width: 100%;
	height: 23px;
	background: #c0392b;
	position: absolute;
	bottom: 55px; 
	z-index: 6;
}
#gameLoseScreen h1{
	font-family: 'Audiowide', cursive;
	font-size: 90px;
	color: #c0392b;
	position: relative;
}
#redX{
	position: absolute;
	/*left: 230px;*/
	z-index: 7;
	top: 125px;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 0;

}
#claw{
	position: absolute;
	/*left: 352px;*/
	top: 100px;
	z-index: 6;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 0;
}
#loseStats{
	padding-top: 225px;
	color: #34495e;
	font-family: 'Aldrich', sans-serif;
	font-size: 24px;
}
#tryAgainbtn{
	position: absolute;
	bottom: 79px;
	left: 164px;
}